<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>天天生鲜-首页</title>
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<script type="text/javascript" src="js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/vue-2.5.16.js"></script>
	<script type="text/javascript" src="js/axios-0.18.0.min.js"></script>
    <script>
        window.onload=function(){
            var user_id = sessionStorage.user_id || localStorage.user_id;
        var token = sessionStorage.token || localStorage.token;
        if (!(user_id && token)) {
            var d =document.getElementById('nav');
            var s = document.getElementById('nav2');
            d.style.display='none';
            s.style.display='block'
        }else {
            var d=document.getElementById('nav');
            var s = document.getElementById('nav2');
            d.style.display='block';
            s.style.display='none'
        }
}

    </script>
</head>
<body>
<div id="app">
	<div class="header_con" >
		<div class="header">
			<div class="welcome fl">欢迎来到天天生鲜!</div>
			<div class="fr">
				<div id="nav" class="login_info fl" >
					欢迎您：<em>{{ username }}</em>
                    <span>|</span>
                    <a @click="logout" >退出</a>
				</div>
				<div  id="nav2" class="login_btn fl" >
					<a href="login.html">登录</a>
					<span>|</span>
					<a href="register.html">注册</a>
				</div>
				<div class="user_link fl">
					<span>|</span>
					<a href="user_center_info.html">用户中心</a>
					<span>|</span>
					<a href="cart.html">我的购物车</a>
					<span>|</span>
					<a href="user_center_order.html">我的订单</a>
				</div>
			</div>
		</div>		
	</div>

	<div class="search_bar clearfix">
		<a href="index.html" class="logo fl"><img src="images/logo.png"></a>
		<div class="search_con fl">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>
		<div class="guest_cart fr">
			<a href="#" class="cart_name fl">我的购物车</a>
			<div class="goods_count fl" id="show_count">1</div>
		</div>
	</div>

	<div class="navbar_con">
		<div class="navbar">
			<h1 class="fl">全部商品分类</h1>
			<ul class="navlist fl">
				<li><a href="">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="center_con clearfix">
		<ul class="subnav fl" >
			<li><a v-for="(type,index) in typeinfo" :href="'#model0'+index" :class='type.class_name'>{{type.name}}</a></li>
		</ul>
		<div class="slide fl">
			<ul class="slide_pics">
				<li v-for="(banner,index ) in bannerinfo"><img :src="banner.image" alt="幻灯片"></li>
			</ul>
			<div class="prev"></div>
			<div class="next"></div>
			<ul class="points"></ul>
		</div>
		<div class="adv fl">
			<a href="#"><img src="images/adv01.jpg"></a>
			<a href="#"><img src="images/adv02.jpg"></a>
		</div>
	</div>

	<div class="list_model"  v-for="(type,index) in typeinfo" >
		<div class="list_title clearfix">
			<h3 class="fl" :id="'model0'+index">{{ type.name }}</h3>
			<div class="subtitle fl">
				<span>|</span>
				<a v-for="(top,index) in type.subs" href="javascript:;" v-if="index<2" @click="gooddetail(top.id,type.id)">{{top.name}}</a>
			</div>
			<a href="#" class="goods_more fr" id="fruit_more" @click="goodlists(type.id)">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img :src="type.image"></div>
			<ul class="goods_list fl">
				<li v-for="(sub,index) in type.subs">
					<h4><a href="#">{{ sub.name }}</a></h4>
					<a href="#"><img @click="gooddetail(sub.id,type.id)" :src="sub.image"></a>
					<div class="prize">{{ sub.price }}</div>
				</li>
			</ul>
		</div>
	</div>



	<div class="footer">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>		
		</div>
		<p>CopyRight © 2016 北京天天生鲜信息技术有限公司 All Rights Reserved</p>
		<p>电话：010-****888    京ICP备*******8号</p>
	</div>

</div>
<script type="text/javascript" src="js/slide.js"></script>
	<script type="text/javascript" src="js/index.js"></script>
</body>
</html>